.offering-card-container {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    scroll-snap-type: x mandatory;
    padding-bottom: 20px;
    scroll-behavior: smooth;
  }
  
  .course-card {
    flex: 0 0 auto;
    min-width: 300px;
    max-width: 300px;
    min-height: 250px;
    transition: transform 0.3s ease-in-out;
    scroll-snap-align: center;
    box-shadow: 0px 6px 0px rgb(238, 219, 218);
  }
  
  .course-card:not(:focus) {
    transform: scale(0.9);
  }
  
  .course-card i {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 241, 238);
    border-radius: 100px;
    color: var(--main);
  }
  
  /* Scroll buttons */
  .scroll-button-left,
  .scroll-button-right {
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 50%;
    border: none;
    z-index: 1;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  }
  

  
  /* Hide the default scrollbar */
  .offering-card-container::-webkit-scrollbar {
    display: none;
  }


  .scroll-btn{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: none;
    color: var(--main);
    background-color: rgb(255, 241, 238);
  }
  